

.date {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  margin: 30px 30px;

  .text {
    color: var(--text);
    font-size: 30px;
    &:hover { text-decoration: underline;}
  }

  .active {
    text-decoration: underline;
  }
}